.card {
  width: 95vw;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #c4c8ce;
}

.card:hover {
  box-shadow: rgba(0, 140, 255, 0.25) 0px 54px 55px,
  rgba(0, 140, 255, 0.25) 0px -12px 30px, rgba(0, 140, 255, 0.25) 0px 4px 6px,
  rgba(0, 140, 255, 0.25) 0px 12px 13px, rgba(0, 140, 255, 0.25) 0px -3px 5px;
}

.image {
  width: 100%;
}

.fa-heart {
  position: absolute;
  padding: 3vw;
  color: white;
  font-size: 150%;
}

.fa-heart:hover {
  transform: scale(1.15);
}

.favorite {
  color: rgb(157, 7, 216);
}

.description-wrapper {
  padding-left: 2vw;
}

@media screen and (min-width: 768px) {
  .card {
    width: 45vw;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #c4c8ce;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 22vw;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #c4c8ce;
  }

  .fa-heart {
    padding: 1vw;
  }
}
